
<div>
  <div class="well">
    Hello world
  </div>
  <div class="fixed">

    <table class="">
      <thead>
        <tr class="filterHeader">
          <th class="headCol" colspan="2">First header</th>
          <th class="dateCol" *ngFor="let date of dates">{{ date }}</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let i of Arr(30).fill(1)">
          <ng-container *ngFor="let room of rooms">
            <tr class="{{room['class']}}">
              <th colspan="2" class="headCol">{{ room['name'] }}</th>
              <td *ngFor="let date of dates">{{ date }}</td>
            </tr>
          </ng-container>
        </ng-container>

      </tbody>

    </table>
  </div>
</div>



<!--
table {
border-collapse:separate;
border-top: 1px solid grey;
border-spacing: 0;
}

td {
margin:0;
border: 1px solid grey;
border-top-width:0px;
white-space:nowrap;
}
div {
width: auto;
overflow-x:scroll;
margin-left:10em;
overflow-y:visible;
padding-bottom:1px;
}
.headCol {
position:absolute;
width:10em;
left:0;
background: #fafafa;
top:auto;
box-shadow: 5px 0 8px -5px #888;
border-left: 0px none black;
border-top-width: 1px; /*only relevant for first row*/
margin-top: -1px; /*compensate for top border*/

}
.headCol:after{ }
.long { background:yellow; letter-spacing:1em; }
-->

<style media="screen">

  div.fixed {
    max-width: 100%;
    max-height: calc(100vh - 30px);
    overflow: scroll;
    position: relative;
    margin-top:-1px;
  }

  table {
    position: relative;
    border-collapse: collapse;
  }

  td, th {
    padding: 0.25em;
  }

  table td, table th {
    border: 1px solid #dee2e6;
  }

  thead th {
    border-bottom: 1px solid #dadada;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: -1px;
    background: #dadada;
    min-width: 100px !important;
  }

  thead th:first-child {
    left: -1px;
    z-index: 1;
  }

  tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: -1px;
    background: #FFF;
    border-right: 1px solid #CCC;
  }

  .headCol {
    min-width: 250px !important;
  }

  .headCol:before{
    box-shadow: 5px 0 15px -15px inset;
    content: " ";
    height: calc(100% + 1px);
    position: absolute;
    top: -1px;
    right: -4px;
    width: 4px;  }

    .dateCol:before{
      box-shadow: 0px 5px 15px -15px inset;
      content: " ";
      width: calc(100% + 1px);
      position: absolute;
      bottom: -4px;
      height: 4px;
      left: 0px;
    }

  </style>
