<div>
  <div class="fixed">

    <table>
      <thead>
        <tr class="filterHeader">
          <th class="headcol" colspan="2">First header</th>
          <th *ngFor="let date of dates">{{ date }}</th>
        </tr>
      </thead>

      <tbody>
        <tr class="">
          <th class="headcol" colspan="2">First header</th>
          <td *ngFor="let date of dates">{{ date }}</td>
        </tr>

        <ng-container *ngFor="let room of rooms">
          <tr class="{{room['class']}}">
            <th colspan="2" class="headcol">{{ room['name'] }}</th>
            <td *ngFor="let date of dates">{{ date }}</td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let room of rooms">
          <tr class="{{room['class']}}">
            <th colspan="2" class="headcol">{{ room['name'] }}</th>
            <td *ngFor="let date of dates">{{ date }}</td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let room of rooms">
          <tr class="{{room['class']}}">
            <th colspan="2" class="headcol">{{ room['name'] }}</th>
            <td *ngFor="let date of dates">{{ date }}</td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let room of rooms">
          <tr class="{{room['class']}}">
            <th colspan="2" class="headcol">{{ room['name'] }}</th>
            <td *ngFor="let date of dates">{{ date }}</td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let room of rooms">
          <tr class="{{room['class']}}">
            <th colspan="2" class="headcol">{{ room['name'] }}</th>
            <td *ngFor="let date of dates">{{ date }}</td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let room of rooms">
          <tr class="{{room['class']}}">
            <th colspan="2" class="headcol">{{ room['name'] }}</th>
            <td *ngFor="let date of dates">{{ date }}</td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let room of rooms">
          <tr class="{{room['class']}}">
            <th colspan="2" class="headcol">{{ room['name'] }}</th>
            <td *ngFor="let date of dates">{{ date }}</td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let room of rooms">
          <tr class="{{room['class']}}">
            <th colspan="2" class="headcol">{{ room['name'] }}</th>
            <td *ngFor="let date of dates">{{ date }}</td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let room of rooms">
          <tr class="{{room['class']}}">
            <th colspan="2" class="headcol">{{ room['name'] }}</th>
            <td *ngFor="let date of dates">{{ date }}</td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let room of rooms">
          <tr class="{{room['class']}}">
            <th colspan="2" class="headcol">{{ room['name'] }}</th>
            <td *ngFor="let date of dates">{{ date }}</td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let room of rooms">
          <tr class="{{room['class']}}">
            <th colspan="2" class="headcol">{{ room['name'] }}</th>
            <td *ngFor="let date of dates">{{ date }}</td>
          </tr>
        </ng-container>
      </tbody>

    </table>
  </div>
</div>



<!--
table {
border-collapse:separate;
border-top: 1px solid grey;
border-spacing: 0;
}

td {
margin:0;
border: 1px solid grey;
border-top-width:0px;
white-space:nowrap;
}
div {
width: auto;
overflow-x:scroll;
margin-left:10em;
overflow-y:visible;
padding-bottom:1px;
}
.headcol {
position:absolute;
width:10em;
left:0;
background: #fafafa;
top:auto;
box-shadow: 5px 0 8px -5px #888;
border-left: 0px none black;
border-top-width: 1px; /*only relevant for first row*/
margin-top: -1px; /*compensate for top border*/

}
.headcol:after{ }
.long { background:yellow; letter-spacing:1em; }
-->

<style media="screen">

  div.fixed {
    max-width: 40em;
    max-height: 20em;
    overflow: scroll;
    position: relative;
  }

  table {
    position: relative;
    border-collapse: collapse;
  }

  td, th {
    padding: 0.25em;
  }

  thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #000;
    color: #FFF;
  }

  thead th:first-child {
    left: 0;
    z-index: 1;
  }

  tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
    border-right: 1px solid #CCC;
  }
</style>
