
<div>
  <div class="well">
    Hello world
  </div>
  <div class="fixed">

    <table class="">
      <thead>
        <tr class="filterHeader">
          <th class="headCol text-center" colspan="2"> < << Jan 2021 > >> </th>
          <th class="text-center dateCol {{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">
            {{ date['day_name'] }} <br>
            {{ date['day'] }} <br>
            {{ date['month_name'] }}
          </th>
        </tr>
      </thead>

      <ng-container *ngFor="let i of Arr(30).fill(1)">
        <tbody>
          <tr class="content-empty">
            <th colspan="2" class="headCol"></th>
            <td *ngFor="let date of dates">-</td>
          </tr>
          <ng-container *ngFor="let room of rooms">
            <tr class="roomType {{room['class']}}">
              <th colspan="2" class="headCol">{{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">{{ 1 }}</td>
            </tr>
            <tr class="rate {{room['class']}}">
              <th colspan="2" class="headCol"><span></span> {{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">€{{ 100 }}</td>
            </tr>


            <tr class="rateLevelTwo {{room['class']}}">
              <th colspan="2" class="headCol"><span></span> {{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">€{{ 100 }}</td>
            </tr>

            <tr class="rateLevelTwo {{room['class']}}">
              <th colspan="2" class="headCol"><span></span> {{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">€{{ 100 }}</td>
            </tr>

            <tr class="rateLevelThree {{room['class']}}">
              <th colspan="2" class="headCol"><span></span> {{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">€{{ 100 }}</td>
            </tr>
            <tr class="rateLevelThree {{room['class']}}">
              <th colspan="2" class="headCol"><span></span> {{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">€{{ 100 }}</td>
            </tr>


            <tr class="rate {{room['class']}}">
              <th colspan="2" class="headCol"><span></span> {{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">€{{ 100 }}</td>
            </tr>
            <tr class="rate {{room['class']}}">
              <th colspan="2" class="headCol"><span></span> {{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">€{{ 100 }}</td>
            </tr>
            <tr class="rate {{room['class']}}">
              <th colspan="2" class="headCol"><span></span> {{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">€{{ 100 }}</td>
            </tr>
            <tr class="rate {{room['class']}}">
              <th colspan="2" class="headCol"><span></span> {{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">€{{ 100 }}</td>
            </tr>
            <tr class="rate {{room['class']}}">
              <th colspan="2" class="headCol"><span></span> {{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">€{{ 100 }}</td>
            </tr>
            <tr class="rate {{room['class']}}">
              <th colspan="2" class="headCol"><span></span> {{ room['name'] }}</th>
              <td class="{{ date['weekend'] ? 'weekend' : 'weekday' }}" *ngFor="let date of dates">€{{ 100 }}</td>
            </tr>

          </ng-container>
        </tbody>

      </ng-container>


    </table>
  </div>
</div>


<!--
table {
border-collapse:separate;
border-top: 1px solid grey;
border-spacing: 0;
}

td {
margin:0;
border: 1px solid grey;
border-top-width:0px;
white-space:nowrap;
}
div {
width: auto;
overflow-x:scroll;
margin-left:10em;
overflow-y:visible;
padding-bottom:1px;
}
.headCol {
position:absolute;
width:10em;
left:0;
background: #fafafa;
top:auto;
box-shadow: 5px 0 8px -5px #888;
border-left: 0px none black;
border-top-width: 1px; /*only relevant for first row*/
margin-top: -1px; /*compensate for top border*/

}
.headCol:after{ }
.long { background:yellow; letter-spacing:1em; }
-->
